
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.productList {
	width: 100%;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}
.product {
	display: flex;
	flex-wrap: wrap;
	border: 4px solid black;
}
.product img {
		width: 100%;
		width: 100vmin;
		height: 100%;
		height: 100vmin;
		max-width: 800px;
		max-width: 80vmin;
		max-height: 800px;
		max-height: 80vmin;
		object-fit: cover;
}
.product .card {
		padding: 1em;
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
		text-align: right;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.product .card:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.product .card h3 {
		font-weight: bold;
}

/* scroll logic */
/*
How this works:

on touch-enabled devices, we just arrange all the slides horzontally with X overflow on
so peopl can slide themselves left and right

ON larger screens we use the double translate hack to force any vertical scrolls to be horizontal.
*/

main, body {
	max-width: 100%;
	max-width: 100vw;
	max-height: 100%;
	max-height: 100vh;
	margin: 0;
	padding: 0;
}

.product {
	height: 100vh;
	width: 100vw;
	scroll-snap-align: center;
}


.productList {
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
  display:none;
}

.wrapper {
	--panelcount: 5;
  display: flex;
  flex-direction: row;
  width: 400vw;
	overflow-x: scroll;
	overflow-y: hidden;

	scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vw);
  scroll-snap-type: both mandatory;
}

/* mouse, touch pad */
/*
@media (hover: hover) and (pointer: fine) {
	.productList {
	  transform: rotate(-90deg) translateX(-100vh);
		-ms-transform: rotate(-90deg) translateX(-100vh);
		-webkit-transform: rotate(-90deg) translateX(-100vh);
		transform-origin: top left;
		-ms-transform-origin: top left;
		-webkit-transform-origin: top left;
	}
	.wrapper {
		transform: rotate(90deg) translateY(-100vh);
		-ms-transform: rotate(90deg) translateX(-100vh);
		-webkit-transform: rotate(90deg) translateX(-100vh);
		transform-origin: top left;
		-ms-transform-origin: top left;
		-webkit-transform-origin: top left;
	}
}
*/
